body {
    margin: 0;
    padding: 0;
}
.display-none {
    display: none;
}
.wrap-content {
    position: fixed;
    background-image: url("../../images/bg-login.png");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.error-text {
    color: #FF0000;
    padding-left: 18px;
    padding-top: 10px;
}
.mb-50 {
    margin-bottom: 50px;
}