.nav-page {
    background-color:rgb(138,196,195);
    box-shadow: 1px rgb(213,222,229);
    width: 100%;
    height: 56px;
}
.nav-title {
    text-align: center;
    color:#FFFFFF;
    line-height: 56px;
    font-size: 25px;
    font-weight: 500px;
}
.icon-logout {
    position: absolute;
    right: 5rem;
    top: 0;
    line-height: 52px;
    color:#FFFFFF;
    z-index: 9;
}
.img-logout{
    width: 28px;
}
.icon-logout:hover {
    color:#FFFFFF;
}
.list-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 5rem;
    height: 100vh;
}
.action {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 97px;
    align-items: flex-end;
    padding-bottom: 16px;
    border-bottom: 1px solid #979F9F;
}
.wrap-checkbox-all {
    margin-bottom: -10px;
}
.list {
    margin-top: 32px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
    justify-content: space-around;
}
.item {
    width: 100%;
    border: 1px solid #8AC4C3;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 25px;
}
.item .content {
    display: flex;
}
.name-file {
    padding-top: 15px;
    max-width: 150px;
    color: #606060;
}
.btn {
    border-radius: 10px;
    border: none;
    outline: unset;
}
.btn:focus {
    border: none;
    outline: unset;
}
.btn:hover {
    cursor: pointer;
}
.btn-upload {
    color: #FFFFFF;
    background-color: #8AC4C3;
    height: 40px;
    padding-right: 60px;
    margin-right: 15px;
}
.sub-upload {
    width: max-content;
    color: #FFFFFF;
    background-color: #8AC4C3;
    padding: 5px;
    border-radius: 5px;
}
.btn-del {
    color: #FFFFFF;
    background-color: #EA4343;
    font-weight: 600;
    height: 40px;
}

.block-paginate {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
}

.page-numb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    box-sizing: initial;
}
.page-numb:hover {
   cursor: pointer;
}
.char {
    color: #FF8989 ;
}
.active {
    color: #FFFFFF !important;
    background-color: #FF8989 ;
    border: 1px solid #FF8989;
}
.active:hover {
    background-color: #FFFFFF;
    color: #FF8989 !important;
    border: 1px solid #FF8989;
}
.no-active {
    background-color: #FFFFFF;
    color: #FF8989 !important;
    border: 1px solid #FF8989;
}
.no-active:hover {
    color: #FFFFFF !important;
    background-color: #FF8989 ;
    border: 1px solid #FF8989;
}
.item-checked {
    border: none;
    background-color: #E2E2E2;
    border: 1px solid #E2E2E2;
}
input[type=checkbox]{
    transform: scale(1.5);
    margin-right: 10px;
    margin-left: 4px;
}
.item .content p {
   width: 100%;
   white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
     display: -webkit-box;
}
.popup-title {
    color: #707070;
    font-size: 18px;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 350px;
    }
}
@media (min-width: 576px) {
    .modal-upload-custom {
        max-width: 90%;
    }
}
.modal-dialog-custom {
    text-align: center;
}
.modal-content-custom{
    padding: 50px 0;
}
.btn-cancel {
    width: 120px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #99999D;
    margin-right: 20px;
}
.btn-delete {
    width: 120px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #EA4343;
    margin-left: 20px;
}
.btn-logout {
    width: 120px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #8AC4C3;
    margin-left: 20px;
}
.upload-content-custom {
    padding: 10rem 10rem;
}
.upload-content-custom .block-content {
    border: 1.5px dashed #707070;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 2rem;
}
.inputDnD .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #606060;
    box-shadow: 0 0 5px solid currentColor;
}
.inputDnD .form-control-file:before{
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 6em;
    line-height: 2em;
    padding-top: 4.5em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    overflow: visible;
    pointer-events: none;
}

@media (min-width: 576px) {
    .list {
        max-height:  490px;
    }
}
.mt-18 {
    margin-top: 18px;
}
.icon-upload {
    margin-bottom: 2px;
    width: 15px;
}
.label {
    color: #606060;
}
