.admin-login-page {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.content {
   display: flex;
   width: 400px;
   height: fit-content;
   flex-direction: column;
   align-items: center;
   overflow-x: auto;
}
.img-login {
    width: 208px;
    margin-top: -20px;
}
.btn-login {
    font-size: 18px;
    margin-top: 120px;
    width: 100%;
    background-color: #848484;
    border-radius: 25px;
    color: #FFFFFF;
    height: 54px;
    border: none;
}
.btn-login:focus {
    outline: 0;
}
.btn-login:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #848484;
    border: 1px solid #848484;
}
.form-login {
    margin-top: 120px;
}
.input-form {
    border: 1px solid #707070;
    border-radius: 10px;
    outline-style: none;
    width: 400px;
    height: 52px;
    line-height: 52px;
    color: #495057;
    padding-left: 44px;
}
.fas {
    position: absolute;
    padding: 18px;
}
.active-btn {
    background-color: #8AC4C3;
}
.active-btn:hover {
    background-color: #FFFFFF;
    color: #8AC4C3;
    border: 1px solid #8AC4C3;
}
